body {
    background-image: url('img/FDG.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Intro', sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
}

.index-nav ul {
    margin-top: 132px;
}

.index-nav ul li {
    display: inline; /* Размещаем элементы списка в одну строку */
    margin-right: 20px;
}

.index-nav ul li:last-child {
    margin-right: 0;
}

.index-nav ul li a {
    font-size: 36px; /* Увеличиваем размер шрифта кнопок */
    color:black; /* Желтый цвет текста кнопок */
}

.index-nav ul li a {
    text-decoration: none; /* Убираем подчеркивание */
}

.lore-nav ul {
    margin-top: 810px; /* Перемещаем кнопки вниз на странице с лором */
}

.lore-nav ul li {
    display: inline; /* Размещаем элементы списка в одну строку */
    margin-right: 20px;
}

.lore-nav ul li:last-child {
    margin-right: 0;
}

.lore-nav ul li a {
    text-decoration: none; /* Убираем подчеркивание */
}

.lore-nav ul li a {
    font-size: 36px; /* Увеличиваем размер шрифта кнопок */
    color: black; /* Желтый цвет текста кнопок */
}

.index-nav ul li a,
.lore-nav ul li a {
    transition: color 0.3s ease; /* Плавное изменение цвета текста при переходе */
}

.index-nav ul li a:hover,
.lore-nav ul li a:hover {
    color: yellow; /* Изменяем цвет текста при наведении */
}
.animation-container {
    position: relative;
    width: 40%;
    height: 600px;
    margin-top: -700px; /* Отступ сверху для контейнера анимации */
    overflow: hidden;
}

.animated-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Начальная непрозрачность */
    animation: fadeIn 2s forwards; /* Анимация появления */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Intro';
    src: url('C:\Users\koltu\OneDrive\Рабочий стол\секрет\Intro.otf.otf') format('otf'), /* Формат WOFF2 */

    font-weight: normal; /* Вес шрифта (нормальный, жирный и т. д.) */
    font-style: normal; /* Стиль шрифта (нормальный, курсив и т. д.) */
}

/* Пример использования шрифта для элементов */
body {
    font-family: 'Intro', sans-serif;
}


.countdown {
    font-size: 80px;
    margin-top: 50vh;
}

.title {
    font-size: 56px;
    margin-bottom: 70px;
}
